@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Open+Sans:wght@400;700&family=Roboto&display=swap");
.dummy {
  font-family: "Roboto", sans-serif;
}

:root {
  --dark-choclate: #603936;
  --dark-red: #e63946;
  --light-color: #fff9c6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.main-container {
  width: 1366px;
  margin: 0 auto;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 30px;
}

nav ul li a {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

nav ul li a.active {
  color: var(--dark-red);
}

a.btn {
  border-radius: 8px;
  padding: 8px 24px;
  text-decoration: none;
  font-weight: bold;
  transition: all 400ms;
}

a.btn.light {
  border: 1px solid black;
}

a.btn.light:hover {
  background-color: var(--dark-red);
  color: var(--light-color);
}

/* hero section start */
.hero-container {
  display: flex;
  align-items: center;
  height: calc(100vh - 131px);
  position: relative;
}

.hero-container .hero-text h1 {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 60px;
  font-weight: normal;
  line-height: 100%;
}

.hero-container .hero-text p.subheading {
  font-size: 16px;
  line-height: 200%;
  width: 490px;
  margin-top: 16px;
  margin-bottom: 20px;
}

a.btn.dark {
  background-color: var(--dark-choclate);
  color: var(--light-color);
  padding: 16px 32px;
  display: inline-block;
  border: 1px solid var(--dark-choclate);
}

a.btn.dark:hover {
  background-color: var(--light-color);
  color: var(--dark-choclate);
  border: 1px solid var(--dark-choclate);
}
.hero-container .hero-image {
  flex: 1;
  position: relative;
}
.hero-container .hero-text {
  flex: 1.3;
}

.hero-container .hero-image .hero-ground {
  background-color: var(--light-color);
  position: absolute;
  bottom: 28px;
  left: 20px;
  width: 360px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 6px 15px 4px rgba(0, 0, 0, 0.25);
  z-index: -100;
}
/* hero section end */
/* social icons */
.social-icons {
  position: absolute;
  bottom: 18px;
  right: 0;
}

.social-icons a {
  margin: 0 16px;
  text-decoration: none;
  display: inline-block;
  transition: all 400ms;
}

.social-icons a:hover {
  transform: scale(1.2);
}

/* background images */
.hero-bg-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -200;
}

.hero-bg-left {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -200;
}

.hero-bg-left img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}

/* animations */
.hero-bg-left img {
  animation: move-images 1000ms forwards ease-in-out;
  transform: translateX(-100%);
}

@keyframes move-images {
  to {
    transform: translateX(0);
  }
}

.hero-text h1,
.hero-text p.subheading,
.hero-text a.btn {
  animation: content-text 2000ms forwards ease-in-out;
  transform: translateY(-80px);
  opacity: 0;
}

.hero-text p.subheading {
  animation-delay: 200ms;
}
.hero-text a.btn {
  animation-delay: 400ms;
}

@keyframes content-text {
  50% {
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

nav .mobile-menu,
nav .mobile-close,
.mobile-navigation {
  display: none;
}
.bg-left-mobile,
.bg-right-mobile {
  display: none;
}

@media (max-width: 600px) {
  .hero-bg-left,
  .hero-bg-right,
  nav ul,
  .hero-ground {
    display: none;
  }
  .main-container {
    width: 100%;
    /* padding: 16px 16px; */
  }
  .logo {
    z-index: 400;
  }
  .logo img {
    height: 30px;
  }
  .hero-container {
    flex-direction: column;
  }
  .hero-image img {
    height: 286px;
  }
  .hero-image {
    margin-top: -50px;
  }
  .hero-container .hero-text {
    text-align: center;
  }
  .hero-container .hero-text h1 {
    font-size: 32px;
    line-height: 120%;
  }
  .hero-container .hero-text p.subheading {
    width: 347px;
    font-size: 16px;
  }
  a.btn.dark {
    padding: 12px 32px;
  }
  .social-icons {
    position: static;
    text-align: center;
    margin-top: -50px;
  }
  .hero-container .hero-text,
  .hero-container .hero-image {
    flex: unset;
  }
  .bg-left-mobile {
    position: fixed;
    top: 0;
    z-index: 200;
    display: block;
  }

  .bg-right-mobile {
    position: fixed;
    bottom: 0;
    z-index: -100;
    display: block;
  }
  /* nav menu start */
  nav.mobile-navigation {
    display: flex;
    z-index: 100;
    background-color: var(--light-color);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
  }
  nav .mobile-navigation.active {
    opacity: 1;
    pointer-events: auto;
  }
  nav .mobile-close.active {
    opacity: 1;
    pointer-events: auto;
  }
  nav.mobile-navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  nav.mobile-navigation ul li {
    margin: 16px 0px;
  }
  nav.mobile-navigation ul li:last-child {
    margin-top: 24px;
  }
  nav .mobile-close,
  nav .mobile-menu {
    z-index: 200;
    background-color: var(--light-color);
    box-shadow: 0px 4px 26px -3px rgba(0, 0, 0, 0.22);
    border-radius: 0px 0px 24px;
    padding: 30px;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    display: block;
  }
  nav .mobile-close.active,
  nav .mobile-menu.active {
    opacity: 1;
    pointer-events: auto;
  }
}
